<style>
  /*This is for anchor tag with green color*/
  
  	.text-details .form-horizontal .control-label {
													text-align: center;
												  }
												  
    .text-details .form-horizontal .label-name {
													padding-top: 7px; text-align: left;
												  }												  
												  
													
	a.green{color:#179877;} 
	a.green:hover,.green:active{color:#47a447;text-decoration:underline} 
	
	a.link-lesson{color:#006666;}
	a.link-lesson:hover,link-lesson:active{color:#060; text-decoration:underline}
	#expandable-table tr td { vertical-align: middle}
	#expandable-table .progress {margin-bottom: 3px;}
	.gre{ background-color:#146ca4; color:#FFF;}
	.greverb{ background-color:#1ccacc; color:#FFF;}
	.questionsanswered{max-width:30px;}
	.accuracy{ max-width:80px}
	#expandable-table tr td { vertical-align: middle}
	#expandable-table .progress { margin-bottom: 3px;}
	
	@media screen and (max-width:1024px){										 									 
									     .font-15{font-size:14px;}
									     #expandable-table tr td { font-size:13px !important;}											 									 						
									    }

	@media screen and (max-width:800px){										 									 
									    .font-15{font-size:13px;}									
									   }
									
	@media screen and (max-width:480px){										 
									    #expandable-table tr td { font-size:11px !important;}		
									    #expandable-table tr th { font-weight:200 !important;}		
									   }
  </style>