<style>
  /*This is for anchor tag with green color*/
	a.green{color:#179877;} 
	a.green:hover,.green:active{color:#47a447;text-decoration:underline} 
	
	a.link-lesson{color:#006666;}
	a.link-lesson:hover,link-lesson:active{color:#060; text-decoration:underline}

  </style>